@{
    ViewData["Title"] = "Información de la Habitacion";
    Layout = "_Layout";
}
<div>
    <h1>Habitacion</h1>
    <h3>ID Habitacion : @Model.Id</h3>
    <h3>Detalle : @Model.Detalle</h3>
    <h3>Categotia : @Model.categoria</h3>
    <h3>Precio : @Model.precio</h3>
@RenderBody()
</div>
